In [3]:
import pandas as pd

In [55]:
df = pd.read_csv(r'dec2018flights.csv')

In [50]:
df.shape

(4124, 5)

In [56]:
df.columns = df.iloc[2]

In [57]:
df = df[['Origin', 'Destination']]

In [58]:
df = df.iloc[3:,:].reset_index().drop(columns='index')

In [59]:
df = df.sort_values('Origin')

In [60]:
df.head()

2    Origin Destination
1964    ABE         CLT
3371    ABE         CLT
2542    ABI         DFW
1126    ABQ         OAK
1062    ABQ         PHX

In [61]:
airports_list = pd.read_csv('listofairports.txt', sep='\n')

In [62]:
airports_list = list(airports_list['MGM'])

In [63]:
for i in range(len(airports_list)):
    airports_list[i] = airports_list[i][:3]

In [69]:
df = df.loc[(df.Origin.isin(airports_list)) | (df.Destination.isin(airports_list))]

In [70]:
df.shape

(1433, 2)

In [71]:
df = df.drop_duplicates()

In [72]:
df.head()

2    Origin Destination
1964    ABE         CLT
2542    ABI         DFW
1126    ABQ         OAK
1062    ABQ         PHX
1051    ABQ         DAL

In [74]:
df.to_csv('final_flights2.csv', index=False)